<div id="login-view" ng-controller="LoginController as vm" class="fill-stretch">

    <div class="loadpanel" dx-load-panel="vm.loadOptions"></div>
    <div layout="row" layout-align="center stretch" flex class="fill-stretch">
        <div layout="column" layout-align="center center" layout-fill="layout-fill">
            <div layout="column" class="loginBox md-whiteframe-z1">
                <md-toolbar>
                    <div layout="row" layout-align="start center">
                        <div>
                            <i class="material-icons md-48">
                                person_pin
                            </i>
                        </div>
                        <div><h2 class="md-toolbar-tools"><span>{{ "loginView.title" | translate }}</span></h2></div>
                    </div>
                </md-toolbar>

                <form name="loginForm" ng-submit="vm.login()">
                    <md-content layout="column" class="md-padding">
                        <md-input-container>
                            <label>{{ "loginView.login" | translate }}</label>
                            <input required type="text" ng-model="vm.loginModel.username" name="username"
                                   title="{{ 'loginView.login' | translate }}"/>
                            <div ng-messages="loginForm.username.$error">
                                <div ng-message="required">{{ 'loginView.loginRequiredString' | translate }}</div>
                            </div>
                        </md-input-container>
                        <md-input-container>
                            <label>{{ "loginView.password" | translate }}</label>
                            <input required type="password" ng-model="vm.loginModel.password" name="password"
                                   title="{{ 'loginView.password' | translate }}"/>
                            <div ng-messages="loginForm.password.$error" role="alert">
                                <div ng-message="required">{{ 'loginView.passwordRequiredString' | translate }}</div>
                            </div>
                        </md-input-container>
                        <div layout="row" layout-align="space-around center">
                            <md-button type="submit" class="md-raised md-primary">{{"loginView.loginAction" |
                                translate}}
                            </md-button>
                        </div>
                    </md-content>
                </form>
            </div>
        </div>
    </div>
</div>
