<div id="tracker-view" ng-controller="TrackerController as vm" class="fill-stretch">
    <div id="dataInput" style="position: fixed; right: 0; top: 50px; width: 200px;z-index: 15;">
        <div class="md-whiteframe-z1">
            <form name="locateForm" ng-submit="vm.login()">
                <md-content layout="column" class="md-padding">
                    <md-input-container>
                        <label>{{ "trackerView.mobileNumber" | translate }}</label>
                        <input required type="text" ng-model="vm.mobileNumber" name="mobileNumber"
                               ng-pattern="/[a-zA-Z0-9]{10}/" maxlength="10" minlength="10"
                               title="{{ 'trackerView.mobileNumber' | translate }}"/>
                        <div ng-messages="locateForm.mobileNumber.$error">
                            <div ng-message="required">{{ 'trackerView.loginRequiredString' | translate }}</div>
                        </div>
                    </md-input-container>

                    <md-input-container>
                        <label>{{ "trackerView.fromTime" | translate }}</label>
                        <input mdc-datetime-picker="" date="true" time="true" type="text" id="timeFrom"
                               title="{{ 'trackerView.fromTime' | translate }}" name="from" edit-input="false"
                               placeholder="{{ 'trackerView.fromTime' | translate }}" show-todays-date="true"
                               minutes="true" min-date="date" edit-input="true" auto-ok="true" hort-time="true"
                               show-icon="true" ng-model="vm.fromTime" class=" dtp-no-msclear dtp-input md-input">
                        <div ng-messages="locateForm.from.$error">
                        </div>
                    </md-input-container>

                    <md-input-container>
                        <label>{{ "trackerView.toTime" | translate }}</label>
                        <input mdc-datetime-picker="" date="true" time="true" type="text" id="timeTo"
                               title="{{ 'trackerView.toTime' | translate }}" name="to" edit-input="false"
                               placeholder="{{ 'trackerView.toTime' | translate }}" show-todays-date="true"
                               minutes="true" min-date="date" edit-input="true" auto-ok="true" hort-time="true"
                               show-icon="true" ng-model="vm.toTime" class=" dtp-no-msclear dtp-input md-input">
                        <div ng-messages="locateForm.to.$error">
                        </div>
                    </md-input-container>

                    <md-input-container class="md-icon-float md-block">
                        <label>{{ "trackerView.pointQuantity" | translate }}</label>
                        <md-icon md-font-set="material-icons" style="opacity: 0.5;"> location_on</md-icon>
                        <input ng-model="vm.pointQuantity" name="pointQuantity" type="number" step="1" min="1"
                               title="{{ 'trackerView.pointQuantity' | translate }}">
                        <div ng-messages="locateForm.pointQuantity.$error">
                        </div>
                    </md-input-container>


                    <div layout="row" layout-align="space-around center">

                        <md-button type="submit" class="md-raised md-primary" style="min-width: 50px"
                                   ng-click="vm.find()"
                                   title="{{ 'trackerView.searchAction' | translate }}">
                            <md-icon md-font-set="material-icons">search</md-icon>
                        </md-button>

                        <md-button type="submit" class="md-raised md-primary" style="min-width: 50px"
                                   ng-click="vm.getTrack()"
                                   title="{{ 'trackerView.trackAction' | translate }}">
                            <md-icon md-font-set="material-icons">timeline</md-icon>
                        </md-button>
                    </div>
                </md-content>
            </form>
        </div>

    </div>

    <div layout="row" layout-align="center stretch" flex class="fill-stretch">
        <div layout="column" layout-align="center stretch" layout-fill="layout-fill">
            <div id="mapId" class="fill-stretch" style="z-index: 14;"></div>
        </div>
    </div>
</div>
