<!DOCTYPE html>
<!--[if lt IE 7]>
<html lang="en" ng-app="geoTrackerApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html lang="en" ng-app="geoTrackerApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html lang="en" ng-app="geoTrackerApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en" ng-app="geoTrackerApp" class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Demo. Geo-location</title>
    <meta name="description" content="">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimal-ui"/>
    <link href="favicon.ico" rel="icon" type="image/x-icon"/>

    <link href="app.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="bower_components/angular-bootstrap/ui-bootstrap-csp.css">
    <link rel="stylesheet" href="bower_components/animate.css/animate.css">
    <link rel="stylesheet" href="bower_components/devextreme/css/dx.common.css">
    <link rel="stylesheet" href="bower_components/devextreme/css/dx.light.compact.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="bower_components/angular-material/angular-material.css">
    <link rel="stylesheet" href="bower_components/angular-material-expansion-panel/dist/md-expansion-panel.min.css">
    <link rel="stylesheet" href="bower_components/ng-material-datetimepicker/dist/material-datetimepicker.min.css">
    <link rel="stylesheet" href="bower_components/leaflet/dist/leaflet.css"/>

    <link rel="stylesheet" href="app.css">
</head>
<body ng-style="{ 'background-image': 'url(assets/images/bg.jpg)' }">

<!--[if lt IE 7]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
    your browser</a> to improve your experience.</p>
<![endif]-->

<div ng-controller="MainController as vm" style="position: fixed; width: 100%;z-index: 17;">
    <md-fab-toolbar md-open="vm.isFabOpen" md-direction="right" style="position: relative">
        <md-fab-trigger class="align-with-text" style="margin-left: 50px;">
            <md-button aria-label="menu" class="md-fab md-primary">
                <md-icon md-svg-src="assets/images/menu.svg"></md-icon>
            </md-button>
        </md-fab-trigger>
        <md-toolbar>
            <div class="md-toolbar-tools" style="z-index: 1002;">
                <md-select data-ng-model="vm.currentLocale.locale" ng-show="vm.isFabOpen" style="z-index: 1002;">
                    <md-option data-ng-value="opt" data-ng-repeat="opt in vm.locales" style="z-index: 1002;">
                        <img width="48" ng-click="vm.localeChanged()" ng-src="{{ opt.image }}" style="z-index: 1002;"/>
                    </md-option>
                </md-select>
                <span flex></span>
                <span flex></span>
                <md-button aria-label="logoff" ng-show="vm.isFabOpen" class=" md-icon-button" ng-click="vm.logoff()">
                    <md-icon md-font-set="material-icons"> exit_to_app</md-icon>
                </md-button>
            </div>
        </md-toolbar>
    </md-fab-toolbar>
</div>

<main id="main-view" class="fill-stretch">
    <div ng-view class="fill-stretch"></div>
</main>

<!-- In production use:
<script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>
-->

<!--===========   Bower packages   =================-->
<script src="bower_components/jquery/dist/jquery.js"></script>
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/angular-route/angular-route.js"></script>
<script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
<script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
<script src="bower_components/angular-animate/angular-animate.js"></script>
<script src="bower_components/angular-material/angular-material.js"></script>
<script src="bower_components/angular-messages/angular-messages.min.js"></script>
<script src="bower_components/angular-aria/angular-aria.js"></script>
<script src="assets/localization/ngLocale/angular-locale_ru-ru.js"></script>
<script src="bower_components/cldrjs/dist/cldr.js"></script>
<script src="bower_components/cldrjs/dist/cldr/event.js"></script>
<script src="bower_components/cldrjs/dist/cldr/supplemental.js"></script>
<script src="bower_components/cldrjs/dist/cldr/unresolved.js"></script>
<script src="bower_components/globalize/dist/globalize.js"></script>
<script src="bower_components/globalize/dist/globalize/message.js"></script>
<script src="bower_components/globalize/dist/globalize/number.js"></script>
<script src="bower_components/globalize/dist/globalize/currency.js"></script>
<script src="bower_components/globalize/dist/globalize/date.js"></script>
<script src="bower_components/jszip/dist/jszip.js"></script>
<script src="bower_components/devextreme/js/dx.all.js"></script>
<script src="bower_components/devextreme/js/localization/dx.messages.ru.js"></script>
<script src="bower_components/moment/moment.js"></script>
<script src="bower_components/angular-material-expansion-panel/dist/md-expansion-panel.min.js"></script>
<script src="bower_components/ng-material-datetimepicker/dist/angular-material-datetimepicker.min.js"></script>
<!--<script src="bower_components/ng-material-datetimepicker/dist/angular-material-datetimepicker.min.js.map"></script>-->
<script src="bower_components/ngstorage/ngStorage.min.js"></script>
<script src="bower_components/angular-cookies/angular-cookies.min.js"></script>
<script src="bower_components/angular-translate/angular-translate.js"></script>
<script src="bower_components/leaflet/dist/leaflet.js"></script>

<script src="app.js"></script>

<!-- Modules -->
<script src="modules/main.module.js"></script>
<!-- Controllers -->
<script src="modules/controllers/main.controller.js"></script>
<script src="modules/controllers/login.controller.js"></script>
<script src="modules/controllers/tracker.controller.js"></script>
<!-- Services -->
<script src="modules/services/login.service.js"></script>
<script src="modules/services/tracker.service.js"></script>

</body>
</html>
